/* Anywhere.css
// Last Revised By - Juan Sierra
// Last Revised Date - 6.17.16
// Contains body of Be Anywhere
//
// ***************** Revision ************************
//
*/

/*
class/id {
  //location

  //Style
}
*/

.anywhere > .container {
  margin-top: 1%;

  background-color: #FFFFFF;
  border-top:5px solid #8becff;
}
.anywhere-image {
  float:left;
  margin-left: 15%;

  width:25%;
}
.anywhere-body {
  float:right;

  width:60%;
}
.anywhere-title {
  margin-top:80px;
  text-align: center;

  color:#000000;
  font-family: raleway;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
}
.anywhere-paragraph {
  margin-top: 10%;
  text-align: center;

  color:#000000;
  font-family: raleway;
  font-size: 34px;
  font-weight: bold;
}
