/* chapter2.css
// Last Revised By - Juan Sierra
// Last Revised Date - 6.9.16
// Contains body of main page
*/

/*
class/id {
  //location

  //Style
}
*/

.chapter2 > .container {
  margin-top: 0%;

  background-color: #FFFFFF;
  opacity: 1;
  border-top:5px solid #8becff;
}
.window {
  width:30%;
}
.title {
  margin-right:30%;
  margin-top:80px;
  text-align: right;

  color:#000000;
  padding: 10px;
  font-size: 36px;
  font-family: raleway;
  font-weight: bold;
}
.image {
  float:left;
  margin-left: 15%;
  margin-top:-115px;

  width:25%;
}
.paragraph {
  float:right;
  margin-right: 10%;
  margin-top: 10%;

  width:40%;
  color:#000000;
  font-family: raleway;
  font-weight: bold;
}
img {
  height:100%;
  width:100%;
}
p {
  font-size: 32px;
}
