/* comftorable.css
// Last Revised By - Juan Sierra
// Last Revised Date - 6.17.16
// Contains ending of main page
//
// ***************** Revision ************************
// Changed file name and class names.
// Added, removed, and edited classes
*/

/*
class/id {
  //location

  //Style
}
*/
@media (min-width: 992px) {
  .comf-image {
    position: absolute;

    background: url('/./images/comft.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(2px) grayscale(100%) brightness(30%);
    -moz-filter: blur(2px) grayscale(100%) brightness(30%);
    -o-filter: blur(2px) grayscale(100%) brightness(30%);
    -ms-filter: blur(2px) grayscale(100%) brightness(30%);
    filter: blur(2px) grayscale(100%) brightness(30%);

    width:100%;
    height:100vh;
    z-index: -1;
  }
  .comf-title {
    margin-top:80px;
    text-align: center;

    color:#FFFFFF;
    font-family: raleway;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
  }
  .comf-paragraph {
    margin-top: 5%;
    width:50%;
    text-align: center;
    margin-left: 330px;

    color:#FFFFFF;
    font-family: raleway;
    font-size: 34px;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
    .comf-image {
      position: absolute;

      background: url('/./images/comft.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      -webkit-filter: blur(2px) grayscale(100%) brightness(30%);
      -moz-filter: blur(2px) grayscale(100%) brightness(30%);
      -o-filter: blur(2px) grayscale(100%) brightness(30%);
      -ms-filter: blur(2px) grayscale(100%) brightness(30%);
      filter: blur(2px) grayscale(100%) brightness(30%);

      width:100%;
      height:100vh;
      z-index: -1;
    }
    .comf-body {
      width:90%;
      margin-left: auto;
      margin-right: auto;
    }
    .comf-title {
      margin-top:40px;
      text-align: center;

      color:#FFFFFF;
      font-family: raleway;
      font-size: 34px;
      font-weight: bold;
      padding: 10px;
    }
    .comf-paragraph {
      margin-top: 5%;
      width:100%;
      text-align: center;

      color:#FFFFFF;
      font-family: raleway;
      font-size: 28px;
      font-weight: bold;
    }
  }
}
