/* navBar.css
// Last Revised By - Juan Sierra
// Last Revised date - 6.13.16
// Navigation Bar
*/

/*
class/id {
  //location

  //Style
}
*/

.navbar {
  margin: 0px;

  background-color: rgba(0,0,0,0);
  border: none;
  padding:10px;
  opacity: .9;
}
.navbar-right {
  margin: 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #125688;
}
.list {
  margin-left: 100px;
  opacity: 0;

}
.navbar-default .navbar-nav> li > a {
  font-size: 15px;
  color:#FFFFFF;
}
.get {
  position: static;
  margin-right:30px;
  margin-top:1px;
  padding: 8px;

  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 20px;
  color:#000000;
  opacity: 0;
}
#logo {
  left: 50%;
  margin-left: -54px;
  position: absolute;
  top: 0;

  width: auto;
  opacity: 1;
}
