/* popup.css
// Last Revised By - Juan Sierra
// Last Revised Date - 6.13.16
// Pop up sign up sheet
*/

/*
class/id {
  //location

  //Style
}
*/

.close {
  color: #000000;
  font-size: 24px;
  opacity: 1;
}
.submit {
  left:50%;
  margin-left: -35px;
  position: absolute;
}
.register-body > form > .row {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
  text-align: center;
}
.popup-body {
  left: 50%;
  margin-left:-157px;
  margin-top:-30vh;
  position: absolute;
  top:50%;

  
  height: 55vh;
  width:25%;
}
.popup-header {
  padding: 2px;
  text-align: center;
}
:required:focus {
  border: 1px solid red;
  outline: none;
}
#inputFirstName, #inputLastName {
  width: 45%;
}
#inputFirstName {
  float: left;
}
#inputLastName {
  float: right;
}
