/* fontFace.css
// Last Revised By - Juan Sierra
// Last Revised Date - 6.9.16
// Additional Fonts
*/

@font-face {
  font-family: 'raleway';
  src: url('\raleway/webfonts/raleway_thin-webfont.woff');
}

@font-face {
    font-family: "opensans";
    src: url('\opensans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "josans";
    src: url('\josans/JosefinSans-Light.ttf');
}
@font-face {
    font-family: "fester";
    src: url('\fester/FesterMedium.otf');
}